<h2 class="text-center">{{title}}</h2>
<form action="/api/users" method="POST">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-group">
        <label for="username">User name</label>
        <input type="text" name="user" class="form-control" id="username">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" name="age" class="form-control" id="age">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="active">Active</label>
        <select class="form-control" id="active" name="active">
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-6">
      <button type="submit" class="btn btn-primary btn-block">Simpan</button>
    </div>
  </div>
</form>

<div class="row justify-content-center">
  <div class="col-8">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">user</th>
          <th scope="col">age</th>
          <th scope="col">active</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <a href="" class="btn btn-success">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p>{{data}}</p>