<h2 class="text-center">{{title}}</h2>
<div class="row justify-content-center">
    <form action="/api/users" method="POST">
        <div class="col">
            <div class="form-group">
                <label for="username">User name</label>
                <input type="text" name="user" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" name="age" class="form-control" id="age">
            </div>
            <div class="form-group">
                <label for="active">Active</label>
                <select class="form-control" id="active" name="active">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Simpan</button>
        </div>
    </form>
</div>